LOG_LEVEL=DEBUG
TMP_DIR=tmp

ALICE_USER_ID=abc

OPENAI_API_KEY=abc
OPENAI_MODEL=gpt-4o-mini

QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION=notion_pages

ETL_KNOWLEDGE_INTERVAL_SECONDS=300
DELETE_DONE_NOTES_INTERVAL_SECONDS=300
